.card {
  background: #fff;
  border-radius: 2px;
  height: 20%;
  margin: 1rem;
  position: relative;
  width: 20%;
  text-align: left;
}

.card > .img-contain {
  height: 60%;
  overflow: hidden;
  text-align: center;
}
.card > .img-contain > img {
  width: 100%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}


.card > .remove {
  /* color: #ff1744; */
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
}
